.itemCard {
  margin: 0.5rem;
  width: 300px;
  height: 350px;
}

.cardMedia {
  object-fit: cover;
  height: 180px;
}

.cardContent {
  height: 140px;
}

.description {
  height: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.currentBid {
  margin-top: 8px;
  color: green;
  font-weight: bold;
}
