.leftSide {
  padding: 16px;
  margin: 16px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.optionButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 8px;
}

.optionButton {
  margin: 0;
}

.activeOption {
  background-color: #1976d2;
  color: #fff;
}

.rightSide {
  padding: 16px;
  margin: 16px;
  min-height: 400px;
}
