.itemCard {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardMedia {
  object-fit: contain;
  margin: 0 auto;
}

.cardContent {
  padding: 16px;
}

.currentBid {
  margin-top: 16px;
}

.statusOpen {
  color: green;
  margin-top: 16px;
}

.statusClosed {
  color: red;
  margin-top: 16px;
}
